include LICENSE
include README.md
include requirements.txt

recursive-include backend/src/core/face_recognition/data *
recursive-include backend/src/config *.json *.yaml
recursive-include assets *.ico *.png
recursive-include docs *

global-exclude *.pyc
global-exclude __pycache__
global-exclude .git*
global-exclude .env 